.allPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.allPosts > * {
  flex-basis: 31%;
  margin: 25px;
  height: 150px;
  width: 30;
}

.topics-menu {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

input {
  width: 75%;
  display: flex;
  margin: 2rem auto;
  height: 2rem;
  border-radius: 10px;
  padding: 5px;
}

select {
  height: 3rem;
}
