.allPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

}

.allPosts > * {
  flex-basis: 31%;
  margin: 25px;
  height: 150px;
  width: 30;
}

.topics-menu {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 2rem;
  height: 20px;
}

input {
  width: 75%;
  display: flex;
  margin: 2rem auto;
  height: 2rem;
  border-radius: 10px;
  padding: 5px;
}

select {
  height: 3rem;
}

h1 {
  text-align: center;
}

.each_post {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 20px;
  box-sizing: border-box;
}

.my-posts {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 10px;
  margin: 15px;
}

.each_post .my-posts {
  flex-grow: 1;
  margin-right: 15px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  margin: 10px;
}


.edit-my-post-btn {
  background-color: #007bff;
  color: white;
}

.edit-my-post-btn:hover {
  background-color: #0065d1;
}

.btn-warning {
  background-color: #dc3545;
  color: white;
}
